# *.jpg filter=lfs diff=lfs merge=lfs -text
# *.jpeg filter=lfs diff=lfs merge=lfs -text
# *.png filter=lfs diff=lfs merge=lfs -text
# *.webp filter=lfs diff=lfs merge=lfs -text
# src/assets/BirdPics/*.jpeg filter=lfs diff=lfs merge=lfs -text
# src/assets/BirdPics/*.jpg filter=lfs diff=lfs merge=lfs -text
# src/assets/BirdPics/*.png filter=lfs diff=lfs merge=lfs -text

* text=auto
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
src/assets/BirdPics/*.jpeg binary
src/assets/BirdPics/*.jpg binary
src/assets/BirdPics/*.png binary